@page {
	margin-bottom: 5pt;
	margin-top: 5pt
}
ol,ul {
	margin-left: 0px;
}
ul {
	padding-left: 0.6em;
}
ol {
	padding-left: 1em;
}
td, th {
	border: 1px dotted black;
	padding: 5px;
}
table {
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 70%;
}
img {
	max-width:100%;
}
/*
ol[style="list-style-type: upper-roman"], ol[style="list-style-type: lower-roman"] {
	list-style-type: decimal !important;
}
*/
