figure {
    display: inline-block;
    margin: 0px;
}
figure figcaption {
    font-size: 75%;
    text-align: center;
}
span.mark {
    font-size: 75%;
    text-decoration: none;
    vertical-align: top;
}
